{% extends "base.html" %}

{% block content %}
<div id='app'></div>
<script type='text/babel'>

    class App extends React.Component{

        constructor(props){
            super(props)
            this.state = {
                siteName: "",
                siteUrl: "",
                accountName: "",
                accountPassword: "",
                error: false,
                modalIsOpen: false,
            }
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'

            axios.get("{% url 'api:pass-site-detail' pk=request.GET.pk %}").then((res) => {
                console.log(res.data)
                this.setState({
                    siteName: res.data.site_name,
                    siteUrl: res.data.site_url,
                    accountName: res.data.account_name,
                    accountPassword: res.data.account_password
                })
            }).catch(error => {
                this.setState({error: true})
                console.log(error.response)
            });
        }

        openModal = () => { this.setState({modalIsOpen: true}); }

        closeModal = () => { this.setState({modalIsOpen: false}); }
        
        getCookie = (name) => {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        CSRFToken = () => {
            var csrftoken = this.getCookie('csrftoken');
            return (
                <input type="hidden" name="csrfmiddlewaretoken" value={csrftoken} />
            );
        };
        
        siteNameHandler = (e) => { this.setState({siteName: e.target.value}) }

        siteUrlHandler = (e) => { this.setState({siteUrl: e.target.value}) }

        accountNameHandler = (e) => { this.setState({accountName: e.target.value}) }

        accountPasswordHandler = (e) => { this.setState({accountPassword: e.target.value}) }

        changePassSiteFunction = (e) => {
            const body = {
                user: {{request.user.id}},
                site_name: this.state.siteName,
                site_url: this.state.siteUrl,
                account_name: this.state.accountName,
                account_password: this.state.accountPassword,
            };
            let csrftoken = this.getCookie('csrftoken');
            axios.put("{% url 'api:pass-site-detail' pk=request.GET.pk %}", body, {headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }})
        }

        deleteFunction = (e) => {
            let csrftoken = this.getCookie('csrftoken');
            axios.delete("{% url 'api:pass-site-detail' pk=request.GET.pk %}", {headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }})
            window.location.reload();  
        }

        shareLink = (e) => {
            const body = {
                user: {{request.user.id}},
                pass_id: {{request.GET.pk}},
            };
            let csrftoken = this.getCookie('csrftoken');
            asios.post("{% url 'api:create-pass-site-share' %}", body, {headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            }}).then((res) => {
                console.log(res)
            })
        }

        render() {
            if (this.state.error){
                return ( 
                    <div>
                        <h1> MOVE BACK THERE IS NOTHING TO SEE</h1>
                        <a class='btn btn-primary' href="{% url 'accounts:pass-manager' %}">BACK</a>
                    </div>
                )
            }
            let href_value = 'http://' + this.state.siteUrl
            return (
                <div>
                    <a class='btn btn-primary' href="{% url 'accounts:pass-manager' %}">BACK</a>
                    <button class='btn btn-primary' onClick={this.openModal}>SETTINGS</button>

                    <table className='table table-bordered table-dark table-hover'>
                        <thead>
                            <tr>
                                <th scope='row'>Site name</th>
                                <td scope='row'>{this.state.siteName}</td>
                            </tr>
                            <tr>
                                <th scope='row'>Site url</th>
                                <td scope='row'><a href={href_value} target="_blank" >{this.state.siteUrl}</a></td>
                            </tr>
                            <tr>
                                <th scope='row'>Account name</th>
                                <td scope='row'>{this.state.accountName}</td>                            
                            </tr>
                            <tr>
                                <th scope='row'>Account password</th>
                                <td scope='row'>{this.state.accountPassword}</td>                                
                            </tr>
                        </thead>
                    </table>

                    <ReactModal
                    id='modalContent'
                    isOpen={this.state.modalIsOpen}
                    onRequestClose={this.closeModal}
                    >
                        <form onSubmit={this.changePassSiteFunction} method='post'>{{csrf_input}}
                            {this.CSRFToken()}
                            <p><input onChange={this.siteNameHandler} value={this.state.siteName} type='text' placeholder='site name'/></p>    
                            <p><input onChange={this.siteUrlHandler} value={this.state.siteUrl} type='text' placeholder='site url'/></p> 
                            <p><input onChange={this.accountNameHandler} value={this.state.accountName} type='text' placeholder='login account name'/></p>    
                            <p><input disabled onChange={this.accountPasswordHandler} value={this.state.accountPassword} type='password' placeholder='account password'/></p>  
                            <button className='btn btn-primary'>Change</button>                        
                        </form>
                        <button className='btn btn-primary' onClick={this.deleteFunction}>delete</button>                            
                        <button className='btn btn-primary' onClick={this.shareLink}>share!</button>
                        <button className='btn btn-close' onClick={this.closeModal}>close</button>
                    </ReactModal>
                    
                </div>
            )
        }
    }
    ReactDOM.render(<App />, document.getElementById('app'))
</script>
{% endblock %}