{% extends "base.html" %}

{% block content %}
<div id='app'></div>
<script type='text/babel'>

    class App extends React.Component {
        customStyles = {
            content : {
                top: '50%',
                left: '50%',
                right: 'auto',
                bottom: 'auto',
                marginRight: '-50%',
                transform: 'translate(-50%, -50%)'
            }
        };
        constructor(props){
            super(props)
            this.state = {
                passes: [],
                modalIsOpen: false,
                pass_id: '',
                siteName: '',
                siteUrl: '',
                accountName: '',
                accountPassword: '',
                addingMode: false,
                deletingMode: false,
            }

            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'

            axios.get("{% url 'api:pass-site' %}", {
                params: {
                    id: {{request.user.id}}
                }
            })
            .then(res => {
                this.setState({ passes: res.data });
            })
        }

        CSRFToken = () => {
            var csrftoken = this.getCookie('csrftoken');
            return (
                <input type="hidden" name="csrfmiddlewaretoken" value={csrftoken} />
            );
        };

        componentWillMount() {
            ReactModal.setAppElement('body');
        }

        getCookie = (name) => {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        openModal = (pass) => {
            if (pass == 'add') {
                this.setState({
                    addingMode: true,
                    modalIsOpen: true,
                    deletingMode: false,
                });
            }
            else {
                this.setState({
                    modalIsOpen: true,
                    addingMode: false,
                    pass_id: pass.id,
                    siteName: pass.site_name,
                    siteUrl: pass.site_url,
                    accountName: pass.account_name,
                    accountPassword: pass.account_password,
                });
            }
        }

        closeModal = () => {
            this.setState({
                modalIsOpen: false,
                pass_id: '',
                siteName: '',
                siteUrl: '',
                accountName: '',
                accountPassword: '',
                deletingMode: false,
            });
        }
        
        siteNameHandler = (e) => { this.setState({siteName: e.target.value}) }

        siteUrlHandler = (e) => { this.setState({siteUrl: e.target.value}) }

        accountNameHandler = (e) => { this.setState({accountName: e.target.value}) }

        accountPasswordHandler = (e) => { this.setState({accountPassword: e.target.value}) }

        deletingModeHandler = () => { this.setState({deletingMode: true}) }

        sendPassSiteFunction = (e) => {
            const body = {
                    user: {{request.user.id}},
                    site_name: this.state.siteName,
                    site_url: this.state.siteUrl,
                    account_name: this.state.accountName,
                    account_password: this.state.accountPassword,
                }
            let csrftoken = this.getCookie('csrftoken');
            if (this.state.addingMode == true){
                axios.post("{% url 'api:pass-site' %}", body, {headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }})
            }
            else if (this.state.deletingMode == true){
                body.id = this.state.pass_id
                console.log(body.id)                
                axios.delete("{% url 'api:pass-site-detail' %}"+ "?pk="+ this.state.pass_id, {headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }})
            }
            else{
                body.id = this.state.pass_id
                axios.put("{% url 'api:pass-site-detail' %}", body, {headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }})
            }
         
        }

        modalPasswordInput = () => {
            if (this.state.addingMode == true){
                return (
                    <div>
                        <p><input onChange={this.accountPasswordHandler} type='text' placeholder='account password' value={this.state.accountPassword}/></p>
                        <button className='btn btn-primary'>add</button>                                        
                    </div>
                )
            }
            else{
                return (
                    <div>
                        <p><input disabled onChange={this.accountPasswordHandler} type='text' placeholder='account password' value={this.state.accountPassword}/></p>
                        <button className='btn btn-primary'>change</button>
                        <button onClick={this.deletingModeHandler} className='btn btn-danger'>delete</button>     
                    </div>
                )
            }
        }
        render() {
            return (
                <div className='app-component'>
                    <button onClick={() => this.openModal('add')} className='btn btn-primary'>Add Pass</button>
                    <p></p>
                    <table className='table table-bordered table-dark table-hover'>
                        <thead>
                            <tr>
                                <th scope='col'>#</th>
                                <th scope='col'> Site name </th>
                                <th scope='col'> Site url link </th>
                                <th scope='col'> Details </th> 
                            </tr>
                        </thead>
                        <tbody>
                            {this.state.passes.map((pass, index) => {
                                let href_value = "http://" + pass.site_url
                                return (
                                    <tr key={pass.id} onClick={this.passHandler}>
                                        <th scope='row'>{index}</th>
                                        <td>{pass.site_name}</td>
                                        <td><a href={href_value} target="_blank">{pass.site_url}</a></td>
                                        <td><button onClick={() => this.openModal(pass)} className='btn btn-primary'>Details</button></td>
                                    </tr>
                                )
                            })}
                        </tbody>
                    </table>
                    <ReactModal
                        isOpen={this.state.modalIsOpen}
                        onRequestClose={this.closeModal}
                        style={this.customStyles}
                    >
                        <form onSubmit={this.sendPassSiteFunction}>
                            {this.CSRFToken()}
                            <p><input onChange={this.siteNameHandler} type='text' placeholder='site name' value={this.state.siteName}/></p>    
                            <p><input onChange={this.siteUrlHandler} type='text' placeholder='site url' value={this.state.siteUrl}/></p> 
                            <p><input onChange={this.accountNameHandler} type='text' placeholder='login account name' value={this.state.accountName}/></p>    
                            { this.modalPasswordInput() }
                        </form>
                        <p><button className='btn btn-close' onClick={this.closeModal}>close</button></p>

                    </ReactModal>
                </div>
            )
        }
    }
    ReactDOM.render(<App />, document.getElementById('app'))
</script>
{% endblock %}